        body {
            margin: 0;
            font-family: 'Slabo 27px', serif;
        }
        
        h1 {
            font-size: 55px;
        }
        
        h2 {
            font-size: 45px;
        }
        
        .blue-highlight {
            color: blue;
        }
        
        .link-button {
            text-decoration: none;
            background-image: linear-gradient(45deg, lightsalmon, tomato);
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            font-weight: 700;
        }
        
        .half-width img {
            width: 30%;
        }